$mdc-theme-primary: #041a83;
$mdc-theme-secondary: #836e04;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
  h2 {
    text-align: center;
  }
  .mdc-text-field--textarea {
    padding-top: 1em;
  }
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}
