div(class="mdc-layout-grid__cell")
  form(class="save-form")
    div(class="mdc-text-field thought-title")
      input(type="text" id="title" class="mdc-text-field__input")
      label(class="mdc-floating-label" for="my-text-field") Title
      div(class="mdc-line-ripple")
    div(class="mdc-text-field thought-subtitle")
      input(type="text" id="subtitle" class="mdc-text-field__input")
      label(class="mdc-floating-label" for="my-text-field") Subtitle
      div(class="mdc-line-ripple")
    button(class="mdc-button mdc-button--outlined thought-cancel" id="form-cancel") Cancel
    button(class="mdc-button mdc-button--outlined thought-save" id="form-save") Save
